@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway";
  }

  @font-face {
    font-family: "Raleway Italic";
    src: url("./assets/Raleway-Italic-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
}
